* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background-color: black;
  min-height: 100vh;
}
.mainLoading {
  margin-top: 30px;
  flex-grow: 1;
  display: grid;
  place-content: center;
  place-items: center;
}
